<mat-expansion-panel [ngClass]="{
    'solved':model.isSolved,
    'notsolved':!model.isSolved,
    'painpoint': true
    }"
  >
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ model.name }} @if (model.summary !== '') {
      :
    }
  </mat-panel-title>
  <mat-panel-description>
    {{ model.summary }}
  </mat-panel-description>
</mat-expansion-panel-header>
<markdown [data]="model.description"></markdown>
@if (model.solvedBy.size  > 0) {
  <div class="notes">
    <mat-divider></mat-divider>
    <div class="note">
      <span class="note-header">Possible solutions include:</span>
      @for (preprq of model.solvedBy; track preprq; let first = $first; let last = $last) {
        <span
        [ngClass]="{
          'note-item': true,
          'active': preprq.active|async,
          'blocked': !(preprq.available|async),
          first: first,
          last: last
        }"
          [matTooltip]="blockedByInfo(preprq)"
          (click)="preprq.identify_control()"
        > {{preprq.name}}</span>
      }
    </div>
  </div>
}
</mat-expansion-panel>
