<mat-expansion-panel [ngClass]="{'solved':model.isSolved, 'notsolved':!model.isSolved, 'painpoint': true}">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ model.name }} <ng-template [ngIf]="model.summary != ''"> : </ng-template>
    </mat-panel-title>
    <mat-panel-description>
      {{ model.summary }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ngx-md [data]="model.description"></ngx-md>
  <div class="notes" *ngIf="model.solvedBy.size  > 0">
    <mat-divider></mat-divider>
    <div class="note">
      <span class="note-header">Solved by:</span>
      <span
        *ngFor="let preprq of model.solvedBy; let first = first; let last = last"
        [ngClass]="{
          'note-item': true,
          'active': preprq.active|async,
          first: first,
          last: last
        }"
      > {{preprq.name}}</span>
    </div>
  </div>
</mat-expansion-panel>
