@maincolor: #755fa9;
.title {
    border: 0px;
    text-align: center;
    padding: 10px;
    background-color: @maincolor;
    color: White;
    h1 {
       margin: 0px;
    }
    .subtitle{
        font-weight: lighter;
        font-style: italic;
        color: #d2d2d2;
    }
}
.button-hint{
  padding: 0px 10px;
}
.pad-top{
  padding-top:50px;
}
.panel{
    margin: 15px;
    & > * { margin-bottom: 10px; }

    .card-container{
        @media (min-width: 992px) {
            //display as flex above this
            display: flex;
            mat-card{
                flex: 1;
            }
        }
    }
}
