
@available: white;
@notavailable: gray;
@active: paleturquoise;

/deep/.mat-content {
    align-items: baseline;
}

mat-button-toggle {
    margin-right: 16px;
}


.mat-expansion-panel:not([aria-disabled=true]){
    // :not(.mat-expanded)
    &.available .mat-expansion-panel-header{
        background-color: @available;
        &:hover{
            background-color: lighten(@available, 10%);
        }
    }
    &.notavailable .mat-expansion-panel-header{
        background-color: @notavailable;
        &:hover{
            background-color: lighten(@notavailable, 10%);
        }
    }
    &.active .mat-expansion-panel-header{
        background-color: @active;
        &:hover{
            background-color: lighten(@active, 10%);
        }
    }
    mat-panel-title{
        font-weight: bolder;
    }

    .mat-expanded {
        border-bottom: 1px solid rgba(0,0,0,.2);
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;  
    }

    mat-divider{
        position: relative;
    }
    .notes {
        padding-top: 10px;
        font-style: italic;
    }
    .note-header {
        font-weight: 150;
    }
    .note-item{
        &.active {
            color: #36821d;
        }
        &.blocked {
            //text-decoration: line-through;
            color: #c77e7e;
        }
        &:not(.first)::before{
            content: ',';
            padding-right: 0.5em;
        }

    }
}