<mat-expansion-panel [ngClass]="{
    'available':!(model.available|async),
    'notavailable':!(model.available|async),
    'active':model.active | async,
    'reveal': reveal ,
    'solution': true
  }"
  >
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ model.name }} @if (model.summary !== '') {
      :
    }
  </mat-panel-title>
  <mat-panel-description>
    <span>{{ model.summary }}</span>
  </mat-panel-description>
  <span class="actions">
    @if (model.available|async) {
      <mat-button-toggle
        mat-raised-button color="primary"
        (click)="toggleActive($event)">
        @if (model.active | async) {
          Remove
        } @else {
          Add
        }
      </mat-button-toggle>
    }
  </span>
</mat-expansion-panel-header>
<markdown [data]="model.description"></markdown>
@if (model.requires.size + model.requiredBy.size + model.blocks.size > 0) {
  <div class="notes">
    <mat-divider></mat-divider>
    @if (model.requires.size > 0) {
      <div class="note">
        <span class="note-header">Requires:</span>
        @for (preprq of model.requires; track preprq; let first = $first; let last = $last) {
          <span
        [ngClass]="{
          'note-item': true,
          'active': preprq.active|async,
          'blocked': !(preprq.available|async),
          first: first,
          last: last
        }"
            (click)="preprq.identify_control()"
          > {{preprq.name}}</span>
        }
      </div>
    }
    @if (model.requiredBy.size > 0) {
      <div class="note">
        <span class="note-header">Requires by:</span>
        @for (preprq of model.requiredBy; track preprq; let first = $first; let last = $last) {
          <span
        [ngClass]="{
          'note-item': true,
          'active': preprq.active|async,
          'blocked': !(preprq.available|async),
          first: first,
          last: last
        }"
            (click)="preprq.identify_control()"
          > {{preprq.name}}</span>
        }
      </div>
    }
    @if (model.blocks.size > 0) {
      <div class="note">
        <span class="note-header">Blocked by:</span>
        @for (preprq of model.blocks; track preprq; let first = $first; let last = $last) {
          <span
        [ngClass]="{
          'note-item': true,
          'active': preprq.active|async,
          'blocked': !(preprq.available|async),
          first: first,
          last: last
        }"
            (click)="preprq.identify_control()"
          > {{preprq.name}}</span>
        }
      </div>
    }
  </div>
}

</mat-expansion-panel>
