<mat-expansion-panel [ngClass]="{
    'available':!(model.available|async),
    'notavailable':!(model.available|async),
    'active':model.active | async,
    'solution': true
  }"
  >
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ model.name }} <ng-template [ngIf]="model.summary != ''"> : </ng-template>
    </mat-panel-title>
    <mat-panel-description>
    <span>{{ model.summary }}</span>
    </mat-panel-description>
     <span class="actions">
      <mat-button-toggle *ngIf="model.available|async"
        mat-raised-button color="primary"
        (click)="toggleActive($event)">
        <ng-template [ngIf]="model.active | async" [ngIfElse]="inactive">Remove</ng-template>
        <ng-template #inactive >Add</ng-template>
      </mat-button-toggle>
    </span>
  </mat-expansion-panel-header>
  <ngx-md [data]="model.description"></ngx-md>
  <div class="notes" *ngIf="model.requires.size + model.requiredBy.size + model.blocks.size > 0">
    <mat-divider></mat-divider>
    <div *ngIf="model.requires.size > 0" class="note">
      <span class="note-header">Requires:</span>
      <span *ngFor="let preprq of model.requires "> {{preprq.name}}</span>
    </div>
    <div *ngIf="model.requiredBy.size > 0" class="note">
      <span class="note-header">Requires by:</span>
      <span *ngFor="let preprq of model.requiredBy "> {{preprq.name}}</span>
    </div>
    <div *ngIf="model.blocks.size > 0" class="note">
      <span class="note-header">Blocked by:</span>
      <span
        *ngFor="let preprq of model.blocks; let first = first; let last = last"
        [ngClass]="{ 
          'note-item': true,
          'active': preprq.active|async,
          'blocked': !(preprq.available|async),
          first: first,
          last: last
        }"
      > {{preprq.name}}</span>
    </div>
  </div>

</mat-expansion-panel>
