
@available: white;
@notavailable: #95a5a6;
@active: #f1c40f;

@changeInTime: 1s;

/deep/.mat-content {
    align-items: center;
}
/deep/ .mat-button-toggle{
  border-radius: 30px !important;
}
/deep/ .mat-button-toggle-label-content {
  line-height: 30px !important;
}
.mat-expansion-panel:not([aria-disabled=true]){
    mat-panel-title{
        flex: 2;
        overflow: hidden;
        white-space: nowrap;

    }
    mat-panel-description{
        flex: 4;
    }

    // :not(.mat-expanded)
    &.available .mat-expansion-panel-header{

        background-color: @available;
        .mat-expansion-panel-header-title{
          color : rgb(20, 20, 20);
        }
        &:hover{
            background-color: lighten(@available, 10%);
        }
    }
    &.notavailable .mat-expansion-panel-header{
        background-color: @notavailable;
        opacity: .6;
        &:hover{
            background-color: lighten(@notavailable, 10%);
        }
    }
    &.active .mat-expansion-panel-header{
        background-color: @active;
        color: white;
        .mat-expansion-panel-header-title {
            color: white;
          }
        &:hover{
            background-color: lighten(@active, 10%);
        }
    }

    &.reveal .mat-expansion-panel-header{
        @keyframes highlight {
            0% {
                background-color: #ecb131
            }
            100% {
                background-color: inherit;
            }
        }
        -webkit-transition: background @changeInTime; /* Safari prior 6.1 */
        animation: highlight @changeInTime ease-out;
    }

    mat-panel-title{
        font-weight: bolder;
    }

    .actions {
        flex: 1;
        text-align: right;
        margin-right: 16px;
    }

    .mat-expanded {
        border-bottom: 1px solid rgba(0,0,0,.2);
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    mat-divider{
        position: relative;
    }
    .notes {
        padding-top: 10px;
        font-style: italic;
    }
    .note-header {
        font-weight: 150;
    }
    .note-item{
        &.active {
            color: #36821d;
            &:hover {
                font-weight: 500;
                cursor: pointer;
              }
        }
        &.blocked {
            //text-decoration: line-through;
            color: #c77e7e;
            &:hover {
                font-weight: 500;
                cursor: pointer;
              }
        }
        &:not(.first)::before{
            content: ',';
            padding-right: 0.5em;
        }

    }
}
